<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userService" class="com.itheima.travel.service.impl.UserServiceImpl"/>
    <bean id="userDao" class="com.itheima.travel.dao.impl.UserDaoImpl"/>

    <bean id="categoryService" class="com.itheima.travel.service.impl.CategoryServiceImpl"/>
    <bean id="categoryDao" class="com.itheima.travel.dao.impl.CategoryDaoImpl"/>

    <bean id="routeService" class="com.itheima.travel.service.impl.RouteServiceImpl"/>
    <bean id="routeDao" class="com.itheima.travel.dao.impl.RouteDaoImpl"/>

    <bean id="favoriteService" class="com.itheima.travel.service.impl.FavoriteServiceImpl"/>
    <bean id="favoriteDao" class="com.itheima.travel.dao.impl.FavoriteDaoImpl"/>
</beans>