<!DOCTYPE html>
<!--
    引入thymeleaf标签
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
    输出数据
    th:text="${model.key}"
-->
<div th:text="${msg}"></div>

<!--
    th:action  提交地址 th:action="@{请求地址}"
-->
<form th:action="@{/test/hello}">
    <button type="submit">提交</button>
</form>

<!--
    th:each 循环输出
-->
<table>
    <tr>
        <td>下标</td>
        <td>id</td>
        <td>name</td>
        <td>address</td>
    </tr>
    <tr th:each="user,userStat:${users}">
        <td th:text="${userStat.index}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.address}"></td>
    </tr>
</table>

<!--
    Map的读取方式
        1:知道对应key
        2:不知道有什么key
-->
<div>
    <div>Map输出：知道有哪些key</div>
    <div>
        <em th:text="${dataMap.No}"></em>,
        <em th:text="${dataMap.address}"></em>
    </div>
</div>

<div>
    <div>Map输出：不知道有哪些key</div>
    <div th:each="map,mapStat:${dataMap}">
        <span th:text="${map.key}"></span>
        <span th:text="${map.value}"></span>
        <div>==========</div>
        <span th:text="${mapStat.current.key}"></span>
        <span th:text="${mapStat.current.value}"></span>
    </div>
</div>

<!--输出数组-->
<div>
    <div th:each="name:${names}">
        <div th:text="${name}"></div>
    </div>
</div>

<!--
    日期输出
-->
<div>
    <div th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"></div>
</div>

<!--判断当前用户是否满18岁，输出成年人-->
<div th:if="${age}>22">
    成年人!
</div>

<!--包含引入-->
<div id="A" th:include="footer::copy"></div>

</body>
</html>